* {
    box-sizing: border-box;
}

body {
    margin: 0 10px;
    
}

.container {
    font-family: sans-serif;
}

.content {
    display: flex;
    align-items: center;
}

.content-title {
    margin-bottom: 40px;
    padding-left: 15px;
}

.library {
    background-color: #ebebeb75;
    display: flex;
    gap: 40px;
}

.img-title {
    width: 400px;
}

.library-title {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.library-subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 40px;
}

.add_book {
    display: none;
    background-color: #f9f9f9;
    padding: 30px 0;
    justify-content: center;
}

.add_book > h2 {
    text-align: center;
}

.form-title {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 0;
    padding: 20px 50px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #d1d5db;
}

.form-add {
    background-color: #ebebeb75;
    box-shadow: 0px 0px 3px 0px;
    border-radius: 10px;
    border: 2px solid #fafafa;
}

.list-input {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.img-form {
    width: 300px;
}

.labels {
    display: block;
    font-size: 0.9rem;
}

.inputs {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 200px;
    padding: 2px 5px 2px 5px;
    font-size: 1rem;
}

.inputs:focus {
    outline: none;
    border: 1px solid #a9bfeb;
    box-shadow: 0px 2px 5px 1px #a9bfeb;
}

.btn_add_book, .btn_new_book, .btn_show_books, 
.btn-read-book, .btn-remove-book {
    border: 2px solid #34d399;
    border-radius: 0.6em;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    margin: 20px;
    margin-bottom: 0;
    font-weight: 700;
    color: #fff;
    box-shadow: 0 0 40px 40px #34d399 inset, 0 0 0 0 #34d399;
    padding: 8px 30px;
    width: 200px;
}

.btn_new_book, .btn_show_books {
    margin: 0;
    width: 150px;
    margin-bottom: 15px;
}

.btn-read-book, .btn-remove-book {
    font-size: 0.8rem;
    padding: 5px 15px;
    margin: 5px;
    width: 90px;
}

.btn-remove-book {
    box-shadow: 0 0 40px 40px #f87171 inset, 0 0 0 0 #f87171;
    border: 2px solid #f87171;
}

input:invalid ~.missing-data-form::after {
    content: "*Enter the title";
    font-size: 0.8rem;
    color: red;   
}

.show_books {
    display: none;
    padding: 10px;
    background-color: #ebebeb75;
}

.empty-library {
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 15px;
    color: #e74c4c;
}

.show-books-title {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    margin-top: 0;
}

.itens-book {
    padding-left: 0;
}

.list_card_book {
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    gap: 10px;
    margin: 0;
}

.card_book {
    background-color: white;
    padding: 15px;
    border-left: 5px solid #34d399;
    border-radius: 5px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}