* {
    box-sizing: border-box;
}

body {
    margin: 0 10px;
    
}

.container {
    font-family: sans-serif;
}

.content {
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

.content-title {
    margin-bottom: 40px;
    padding-left: 15px;
}

.library {
    background-color: #f9f9f9;
    display: flex;
    gap: 40px;
}

.img-title {
    width: 400px;
}

.library-title {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.library-subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 40px;
}

.add_book {
    display: none;
    background-color: #f4f4f5;
    padding: 30px 0;
    justify-content: center;
}

.add_book > h2 {
    text-align: center;
}

.form-add {
    background-color: #fafafa;
    box-shadow: 0px 0px 3px 0px;
    border-radius: 10px;
    border: 2px solid #fafafa;
}

.list-input {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-form {
    width: 300px;
}

.labels {
    display: block;
}

.show_books {
    display: none;
}

li {
    list-style: none;
}